config/docker/n8n/workflows/agb-platform-integration.json
{
  "name": "AGB Platform Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agb-platform",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "agb-platform"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equal",
              "value2": "passport_created"
            }
          ]
        }
      },
      "id": "passport-created-condition",
      "name": "Passport Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equal",
              "value2": "user_registered"
            }
          ]
        }
      },
      "id": "user-registered-condition",
      "name": "User Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equal",
              "value2": "request_created"
            }
          ]
        }
      },
      "id": "request-created-condition",
      "name": "Request Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $credentials.telegramBotToken }}/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "{{ $credentials.telegramChatId }}"
            },
            {
              "name": "text",
              "value": "🆕 Новый паспорт ВЭД создан!\n\n📄 Номер: {{ $json.data.passport_number }}\n📋 Заказ: {{ $json.data.order_number }}\n👤 Создатель: {{ $json.data.creator?.first_name }} {{ $json.data.creator?.last_name }}\n⏰ Время: {{ $json.timestamp }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram-passport-notification",
      "name": "Telegram Passport Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $credentials.telegramBotToken }}/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "{{ $credentials.telegramChatId }}"
            },
            {
              "name": "text",
              "value": "👤 Новый пользователь зарегистрирован!\n\n👤 Имя: {{ $json.data.first_name }} {{ $json.data.last_name }}\n📧 Email: {{ $json.data.email }}\n🔐 Роль: {{ $json.data.role }}\n⏰ Время: {{ $json.timestamp }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram-user-notification",
      "name": "Telegram User Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $credentials.telegramBotToken }}/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "{{ $credentials.telegramChatId }}"
            },
            {
              "name": "text",
              "value": "🔧 Новая заявка на ремонт!\n\n📝 Название: {{ $json.data.title }}\n📋 Описание: {{ $json.data.description }}\n👤 Заказчик: {{ $json.data.customer?.first_name }} {{ $json.data.customer?.last_name }}\n⏰ Время: {{ $json.timestamp }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram-request-notification",
      "name": "Telegram Request Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Event processed successfully\", \"event_type\": $json.event_type, \"timestamp\": $json.timestamp } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Passport Created?",
            "type": "main",
            "index": 0
          },
          {
            "node": "User Registered?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Request Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passport Created?": {
      "main": [
        [
          {
            "node": "Telegram Passport Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered?": {
      "main": [
        [
          {
            "node": "Telegram User Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Created?": {
      "main": [
        [
          {
            "node": "Telegram Request Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Passport Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram User Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Request Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "agb-platform-integration",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
